*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./assets/IMG_png/FUNDOmidia.png');
}

canvas{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aquamarine;
}
